---
import { getCollection } from "astro:content";
import Layout from "../../Layout.astro";

let posts = await getCollection("blog", ({ data }) => data.title);
const options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
};
posts = posts
    .map((p) => ({
        ...p,
        data: {
            ...p.data,
            publishedDisplay: new Intl.DateTimeFormat("en-US", options).format(
                new Date(p.data.published),
            ),
        },
    }))
    .sort(function (a, b) {
        // Turn your strings into dates, and then subtract them
        // to get a value that is either negative, positive, or zero.
        return new Date(b.data.published) - new Date(a.data.published);
    });
---

<Layout title="Blog posts" description="Very random blog posts about code(ing)">
    <h1>Posts</h1>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug}`}>
                        <h2> {post.data.title || post.id}</h2>

                        <p> {post.data.description}</p>
                        <time datetime={post.data.published}>
                            Published: {post.data.publishedDisplay}
                        </time>
                    </a>
                </li>
            ))
        }
    </ul>
</Layout>

<style>
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        & li {
            margin: 32px 0;
        }
        & a {
            text-decoration: none;
            & h2 {
                font-size: 22px;
                margin-top: 1rem;
            }
            & p {
                font-size: 17px;
                margin: 5px 0 0px;
            }
            & time {
                font-size: 14px;
                color: var(--cat-subtext-color);
            }
        }
    }

    li:hover a {
        transition: color .2s cubic-bezier(0.25, 0.48, 0.23, 0.99);
    }
</style>
