@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body
  font-family 'Crimson Text', serif !important;
  font-size 22px!important
  letter-spacing .18!important

pre
  font-size 16px!important

h1, h2, h3, h4, h5, h6, .site-name, nav
  font-family 'Nunito', sans-serif

img.about-image
  border-radius 50%
  float right
