@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Philosopher');

body
  font-family 'IBM Plex Serif', serif !important;
  letter-spacing .002em!important
  background-color #fbfbff!important
  min-height 100vh

pre
  font-size 16px!important

h1, h2, h3, h4, h5, h6, .site-name, nav
  font-family 'Philosopher', sans-serif
  letter-spacing .02em;

img.about-image
  border-radius 50%
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


@media (min-width: 600px)
  img.about-image
    float right
    margin-left 10px
    margin-bottom 10px

.navbar .links
  background-color transparent!important

.navbar
  background: #dcdfe6;  /* fallback for old browsers */
  background: linear-gradient(25deg, #dcdfe6, #c5cce4);
  background: -webkit-linear-gradient(25deg, #dcdfe6, #c5cce4);  /* Chrome 10-25, Safari 5.1-6 */
  border-bottom: none !important;

.page-edit .last-updated
  float: none !important;
  font-size: 0.7em !important;
