---
import './styles.css'
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description}/>
    <title>{title} | Bits&&Pixels</title>
</head>
<body>
  <nav class="mono">
      <a href="/" class="title">
          <img src="/icon.svg" height="36" alt="Bits&&Pixels logo">
          <span class="title mono">bits && pixels</span>
      </a>

      <ul class="nav-links serif">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">What's this?</a></li>
          <li><a href="https://github.com/petterhoel/blog" target="_blank">GitHub</a></li>
      </ul>
  </nav>
  <main>
      <slot/>
  </main>
  <footer>
      <h2>External goodies 🥰</h2>
      <ul class="lenker sans">
          <li><a href="https://austingil.com/how-to-build-html-forms-right-semantics" target="_blank" rel="noopener noreferrer">Build Html Forms Right</a> By Austin Gil</li>
          <li><a href="https://bhagesh.tech/trick-to-write-css-and-html-100x-faster" target="_blank" rel="noopener noreferrer">Emmet cheatcheet</a> By Bhagesh Hunakunti</li>
          <li><a href="https://modern-web.dev" target="_blank" rel="noopener noreferrer" class="repo-link">Modern web</a> By modernweb-dev</li>
      </ul>
  </footer>
</body>
</html>

<style>
    nav {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        align-items: end;
        padding: 16px;
        a {
            text-decoration: none;
            color: inherit;

        }

        a.title {
            display: flex;
            align-items: end;
            gap: 16px;

            & .title {
                font-weight: 500;
                font-size: 25px;
                letter-spacing: 0.054em;
            }
        }

        & .nav-links {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: nowrap;
            gap: 1rem;
            list-style: none;
            & a {
                font-size: 18px;
                letter-spacing: 0.034em;
            }
            & a:hover {
                text-decoration: underline;
            }
        }
    }
    main {
        width: 900px;
        padding: 16px;
        max-width: 100vw;
        margin: 0 auto;
        box-sizing: border-box;
    }
    footer {
        border-top: 1px solid light-dark(#3c263a, #ffecec);
        width: 900px;
        max-width: 100vw;
        margin: 0 auto;
        padding: 26px 16px;
        box-sizing: border-box;

        & h2 {
            padding: 0;
            margin: 0;
            font-size: 18px;
            letter-spacing: 0.034em;
        }

        ul {
            font-size: 18px;
            letter-spacing: 0.05em;
            & li {
                margin: 6px 0;
            }
        }
    }
</style>